body {
	font-family: 'Rock Salt', cursive;
	color: blue;
	background-color: white;
	font-size: 20px;
}

table, th, td {
  border: 1px solid black;
	
}

th, td {
  padding: 30px auto;
  text-align: center;
  width: 155px;
  height: 155px; 
  background-color: #70cac9;
  font-size: 60px;
  color: black;
}
